@use '../partials/variables' as *;

.cases-section {
  padding: 40px 20px;

  &__title {
    font-size: 36px;
    font-weight: 700;
    color: $color-text;
    margin-bottom: 60px;
    text-align: left;
  }

  .case-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 60px;
    background-color: $color-background;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    padding: 30px;

    &--reverse {
      flex-direction: row-reverse;
    }

    &__image {
      flex: 1;

      img {
        width: 100%;
        border-radius: 10px;
      }

    }

    &__content {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      &-inner {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 460px;
      }
    }

    &__title {
      font-size: 24px;
      font-weight: 700;
      color: $color-text;
      margin: 0;
    }

    &__desc {
      font-size: 14px;
      font-weight: 500;
      color: $color-text;
      line-height: 1.6;
      margin-bottom: 5px;
    }

    &__tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin-bottom: 10px;
      .case-tag {
        border: 1px solid $color-text;
        padding: 4px 10px;
        border-radius: 20px;
        font-size: 12px;
        font-weight: 500;
        color: $color-text;
      }
    }
  }
}