@use '../partials/variables' as *;

.services-section {
  padding: 40px 20px;
  text-align: center;

  &__title {
    font-size: 36px;
    font-weight: 700;
    color: $color-text;
    margin-bottom: 8px;
    text-align: left;
  }

  &__subtitle {
    font-size: 16px;
    color: $color-text;
    margin-bottom: 40px;
    text-align: left;
    font-weight: 500;
  }

  .services-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    margin-bottom: 15px;
  }

  .service-card {
    min-height: 280px;
    border-radius: 10px;
    padding: 32px 30px;
    text-align: left;

    &__icon {
      height: 65px;
      margin-bottom: 20px;
    }

    &__title {
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 18px;
        text-align: left;
        color: $white;
    }

    &__subtitle {
        font-size: 14px;
        opacity: 0.9;
        text-align: left;
        color: $white;
    }
  }

  .capabilities-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
  }

  .capability-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 32px 30px;
    background: #fffefa;
    text-align: left;

    &__icon {
      height: 100px;
      margin-bottom: 20px;
    }

    &__title {
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 18px;
      color: $color-text;
    }

    &__desc {
      font-size: 14px;
      font-weight: 500;
      color: $color-text;
      opacity: 0.9;
    }
  }
}